map $sent_http_content_type $expires {
    "text/html"                 epoch;
    "text/html; charset=utf-8"  epoch;
    default                     off;
}

server {
    listen 80 http2;

    server_name my-new.liteforex.com;

    charset UTF-8;

    root /var/www/my-new.liteforex.com/.nuxt;

    error_log  /var/log/nginx/my-new.liteforex.com.error.log;
    access_log /var/log/nginx/my-new.liteforex.com.access.log main;

    # ----------------------------- ACCESS CONTROL -----------------------------
    allow 78.36.201.103;
    allow 213.140.195.218;
    deny all;

    tcp_nodelay on;
    tcp_nopush  on;
    sendfile    on;

    resolver                    8.8.8.8 4.2.2.4 valid=300s;
    resolver_timeout            5s;

    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options nosniff;

    location ~ /\. {
        access_log    off;
        log_not_found off;

        deny  all;
    }

    location / {
        expires $expires;

        proxy_redirect                      off;
        proxy_set_header Host               $host;
        proxy_set_header X-Real-IP          $remote_addr;
        proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto  $scheme;
        proxy_read_timeout                  1m;
        proxy_connect_timeout               1m;
        proxy_pass                          http://127.0.0.1:3000;
    }
}
